extends layout

block content
  h1= title
  p Welcome to custom #{title}!
  p -both server and client sides are fully separate to replace your own -end application.
  p -server side is running on port 4000
  p -client side is running on port 3000
