<!-- Footer content -->
<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
                <li>
                    <a href="https://github.com/chriscastaneda/Portfolio_Dashboard_Website" target="_blank">
                        Project Github
                    </a>
                </li>
                <li>
                    <a href="https://chriscastaneda.github.io/" target="_blank">
                        Portfolio
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/christian-bedoya-3769b066/" target="_blank">
                        Linkedin
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>