<!-- Sidebar content -->

<div class="sidebar" data-color="red">
    <!-- Logo -->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text"> Data Analytics </a>
        </div>
        <!-- Sidebar Tabs-->
        <ul class="nav">
            <li ng-class="{'active': page === '/'}"><a href="#/"><p>Dashboard</p></a></li>
            <li ng-class="{'active': page === '/table'}"><a href="#/table"><p>Table List</p></a></li>
            <li ng-class="{'active': page === '/maps'}"><a href="#/maps"><p>Maps</p></a></li>
        </ul>

    </div>
</div>